@import '~react-jplayer/src/less/jPlayer.less';
@import '~react-jplayer/src/less/skins/sleek.less';

.jp-jplayer {
  .jp-playlist {
    position: absolute;
    list-style-type:none;
    padding: 0;
    bottom: 100%;
    margin: 0;
    border: solid 1px #e5e5e5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 17px;
    background-color: #fff;
    li {
      border-bottom: solid 1px #e5e5e5;
    }
  }
  .jp-toggle-playlist {
    height: inherit;
  }
  .jp-current {
    background-color: #e5e5e5;
    border: solid 1px #d6d6d6;
  }
  &.jp-state-looped-playlist {
    .jp-repeat {
      position: relative;
      i:first-child {
        &:before {
          content: '\f0c9';
        }
        font-size: 11px;
        right: 0;
        position: absolute;
      }
    }
  }
}